<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <h1 id="contact-heading">
      <i class="fas fa-address-book"></i> Contact-List
    </h1>
    <div id="main-container">
      <ul>
        <%for(let i of Contact_List){%>
        <li>
          <div class="contact-detail">
            <p class="name"><%=i.name%></p>
            <p class="phone"><%=i.phone%></p>
          </div>
          <div class="delete-contact">
            <a href="/delete-contact/?id=<%=i._id%>">
              <i class="fas fa-window-close"></i>
            </a>
          </div>
        </li>
        <%}%>
      </ul>

      <div id="form-container">
        <form id="formstyle" action="/ContactList" method="POST">
          <input type="text" name="name" placeholder="Enter name" required />
          <input
            type="text"
            name="phone"
            placeholder="Enter PhoneNo"
            required
          />

          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
